html, body {
    height: 100%;
    margin: 0;
  }

 .container{
     min-height: 100%;
 } 
.nav-menu {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.nav-menu li {
    width: 20%;
    display: block;
    position: relative;
    float: left;
    background: #fbd64a;
}

.nav-menu li div {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 200px;
    line-height: 35px;
    color: #002840;
    cursor: pointer;
}

.submenu{
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 35px;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    z-index: -1;
}
.submenu-open{
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.submenu li{
    float: none;
}

.submenu li div{
    background: #fcebaa;
}

.page-content{
    line-height: 36px;
}

.sticky-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002840;
    color: white;
    text-align: center;
}
footer{
    height: 50px;
    margin-top: -50px;
    background: #002840;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
}